@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Work+Sans:wght@400;500&display=swap');

html {
    background-color: #76459a;
}

.transition-enter-active, .transition-leave-active { 
    transition: opacity 0.25s ease-in-out, 
    transform 0.25s ease-in-out; 
}
.transition-enter, .transition-leave-active { 
    opacity: 0;
    transform: translate3d(0, 15px, 0); 
}

.text {
    width: 80%;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    margin: 2.5rem 0 2.5rem 0;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding: 0;
    color: #ffffff;
}

.text2 {
    /* width: 80%; */
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    margin: 1rem 0 1rem 0;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding: 0;
    color: #444444;
}

.text3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    margin: 1rem 0 1rem 0;
    font-weight: 400;
    line-height: 1.5;
    text-align:justify;
    padding: 0;
    color: #444444;
}

.headline {
    font-family: 'Work Sans', sans-serif;
    font-size: 3.5rem;
    margin: 0 0 2.5rem 0;
    word-break: initial;
    line-height: 1;
    font-weight: 400;
    color: #ffffff;
}

.headline3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    margin: 1.5rem 0 1.5rem 0;
    word-break: initial;
    line-height: 1;
    font-weight: 400;
    color: #444444;
}

.headline2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    margin: 0 0 2rem 0;
    word-break: initial;
    line-height: 1;
    font-weight: 900;
    color: #444444;
}

.subheading {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    margin: 2.5rem 0 2.5rem 0;
    word-break: initial;
    line-height: 1;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}

.subheading2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    margin: 2rem 0 1rem 0;
    word-break: initial;
    line-height: 1;
    font-weight: 600;
    color: #444444;
}

.bold {
    font-weight: 900;
}

.logo {
    max-width: 100px;
    max-height: 40px;
    margin-left: 1rem;
}

.navbar-brand,
.navbar-tabs {
    align-items: center !important;
}
a.navbar-item:hover{
    background-color: #76459a;
}

.custom-container {
    width: 100%;
    height: 100%;
}

.custom-content {
    width: 75%;
    text-align: left;
}

.bg0 {
    padding: 4rem 0 4rem 0;
    background-image: url('~@/static/images/Fondo_Inicio2.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color: #f5f5f5;
    background-position-y: bottom;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg1 {
    padding: 4rem 0 4rem 0;
    background-image: url('~@/static/images/Fondo_Inicio.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color: #76459a;
    background-position-y: bottom;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

.bg2 {
    padding: 3rem 0 3rem 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

.bg3 {
    padding: 3rem 0 3rem 0;
    background: linear-gradient(180deg, #76459A 0%, #191847 174.78%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

.bg4 {
    padding: 3rem 0 3rem 0;
    background-image: url('~@/static/images/index/Imagen1.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg5 {
    padding: 3rem 0 3rem 0;
    background-image: url('~@/static/images/Fondo_Contacto.jpg');
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    align-items: center;
    display: flex;
    height: 100%;
}

.non-clickable {
    position: relative;
}
  
.non-clickable:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}

@media only screen and (max-width : 1024px) {
    .custom-container {
        margin-right: 5%;
        margin-left: 5%;
    }
    .main-image {
        max-width: 100%;
        height: auto;
    }
    .bg1 {
        background-size: unset !important;
    }
    .custom-content {
        width: 100%;
        text-align: left;
        padding: 1rem;
    }
    .text2 {
        text-align: center;
    }

    .subheading2 {
        text-align: center;
    }

    .home {
        display: flex;
        align-content: center;
        justify-content: center !important;
    }
    .navbar-menu {
        color: #ffffff !important;
        background-color: #76459a !important;
        -webkit-box-shadow: unset !important;
        box-shadow: unset !important;
    }

    .navbar-item {
        color: #ffffff !important;
        text-align: right;
        padding-right: 2rem !important;
    }
    .bg5 {
        min-height: 300px;
    }
}

@media screen and (min-width: 1024px) {
    .custom-container {
        margin-right: 10%;
        margin-left: 10%;
    }
    .main-image {
        width: 32rem; 
        max-width: 32rem;
    }

    .logo {
        margin: 0px 100px 0px 100px;
    }

    .navbar-end {
        margin-right: 100px;
    }
}