@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Work+Sans:wght@400;500&display=swap');

.texto {
    width: 80%;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    margin: 2.5rem 0 2.5rem 0;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding: 0;
    color: #ffffff;
}

.texto2 {
    /* width: 80%; */
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    margin: 1rem 0 1rem 0;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding: 0;
    color: #444444;
}

.encabezado {
    font-family: 'Work Sans', sans-serif;
    font-size: 3.5rem;
    margin: 0 0 2.5rem 0;
    word-break: initial;
    line-height: 1;
    font-weight: 400;
    color: #ffffff;
}

.encabezado2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    margin: 0 0 2rem 0;
    word-break: initial;
    line-height: 1;
    font-weight: 900;
    color: #444444;
}

.subtitulo {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    margin: 2.5rem 0 2.5rem 0;
    word-break: initial;
    line-height: 1;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}

.subtitulo2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    margin: 1rem 0 1rem 0;
    word-break: initial;
    line-height: 1;
    font-weight: 600;
    color: #444444;
}

.bold {
    font-weight: 900;
}

.logo {
    max-width: 100px;
    max-height: 40px;
    margin-left: 1rem;
}

.navbar-brand,
.navbar-tabs {
    align-items: center !important;
}
a.navbar-item:hover{
    background-color: #76459a;
}

/* .card-content {
    padding: 0 1rem 0 1rem !important;
} */

.contenedor {
    margin-right: 10%;
    margin-left: 10%
}

.contenido {
    width: 75%;
    text-align: left;
}

.bg1 {
    padding: 4rem 0 4rem 0;
    background-image: url('~@/static/Fondo_Inicio.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color: #76459a;
    background-position-y: bottom;
    height: 100%;
}

.bg2 {
    padding: 3rem 0 3rem 0;
    background-color: #ffffff;
}

.bg3 {
    padding: 3rem 0 3rem 0;
    background: linear-gradient(180deg, #76459A 0%, #191847 174.78%);
}

.bg4 {
    padding: 3rem 0 3rem 0;
    background-image: url('~@/static/Imagen1.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inicio {
    align-items: center;
    display: flex;
    height: 100%;
}

@media only screen and (max-width : 1024px) {
    .imagen-principal {
        max-width: 100%;
        height: auto;
    }

    .bg1 {
        background-size: unset !important;
    }

    .contenido {
        width: 100%;
        text-align: left;
        padding: 1rem;
    }

    .texto2 {
        text-align: center;
    }

    .subtitulo2 {
        text-align: center;
    }

    .inicio {
        display: flex;
        align-content: center;
        justify-content: center !important;
    }

    .navbar-menu {
        color: #ffffff !important;
        background-color: #76459a !important;
        -webkit-box-shadow: unset !important;
        box-shadow: unset !important;
    }

    .navbar-item {
        color: #ffffff !important;
        text-align: right;
        padding-right: 2rem !important;
    }
}

@media screen and (min-width: 1024px) {
    .imagen-principal {
        width: 32rem; 
        max-width: 32rem;
    }

    .logo {
        margin: 0px 100px 0px 100px;
    }

    .navbar-end {
        margin-right: 100px;
    }
}


/* aaaaaa */
/* .timeline-wrapper {
    position: relative;
    padding: 20px 0;
}

.timeline-wrapper:last-child:before {
    height:0
} */

/* .timeline-wrapper:before {
    content: "";
    background: #ffffff;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    left: 7%;
} */
/* 
.timeline-yr:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px dotted #ff0000;
    transform: translate(-50%);
}

.timeline-yr {
    display: block;
    background: #ffffff; 
    border-radius: 50%;
    position: absolute;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-size: 2rem
}

.timeline-yr span {
    color:#ffffff;
    font-size: 16px;
    font-weight: 700;
    display: block;
    line-height: 75px
}

.timeline-yr i {
    color: #ffffff
}

.timeline-info {
    display: inline-block;
    vertical-align: top;
    max-width: 100%; 
    margin-left: 6em;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.timeline-info small {
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    font-weight:700;
    display: inline-block;
    vertical-align: middle;
    margin-left:15px
}

.timeline-info small {
    display:block;
    margin:10px 0 0
} */